<ion-content [fullscreen]="true">  
  <div class="container">
    <div class="background"></div>

    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="2rem">
      <div class="logo-container">
        <img src="/assets/img/logo.webp" alt="Logo">
      </div>

      <ion-text color="dark" class="ion-text-center">
        Boas vindas!<br>
        Faça <b>login</b> para começar.
      </ion-text>
      
      <ion-button color="danger" (click)="loginWithGoogle()">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Entrar com Google
      </ion-button>
    </div>
  </div>
</ion-content>