<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Seu Plano
    </ion-title>
    <app-user-dropdown slot="end"></app-user-dropdown>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="resultado-container">
    <h2>
      <ion-text color="secondary">
        <ion-icon color="secondary" name="cafe-outline"></ion-icon> Café da Manhã:
      </ion-text>
    </h2>
    <ul>
      <li>1 fatia de pão integral.</li>
      <li>2 ovos mexidos ou cozidos.</li>
      <li>1 fruta (maçã, banana, laranja, etc).</li>
      <li>1 copo (200ml) de leite desnatado ou bebida vegetal sem açúcar.</li>
      <li>1 colher de chá de azeite de oliva ou manteiga.</li>
    </ul>
    
    <h2>
      <ion-text color="secondary">
        <ion-icon color="secondary" name="nutrition-outline"></ion-icon> Lanche da Manhã:
      </ion-text>
    </h2>
    <ul>
      <li>1 punhado de nozes ou castanhas.</li>
      <li>1 iogurte natural sem açúcar.</li>
    </ul>
    
    <h2>
      <ion-text color="secondary">
        <ion-icon color="secondary" name="sunny-outline"></ion-icon> Almoço:
      </ion-text>
    </h2>
    <ul>
      <li>1 porção de proteína (frango, peixe, carne vermelha magra, tofu).</li>
      <li>1 porção de carboidratos complexos (arroz integral, quinoa, batata-doce).</li>
      <li>Legumes à vontade (abobrinha, cenoura, brócolis, couve-flor, etc), cozidos no vapor ou refogados.</li>
      <li>Salada verde à vontade (alface, rúcula, espinafre) com 1 colher de sopa de azeite de oliva.</li>
      <li>1 fruta de sobremesa.</li>
    </ul>
    
    <h2>
      <ion-text color="secondary">
        <ion-icon color="secondary" name="moon-outline"></ion-icon> Lanche da Tarde:
      </ion-text>
    </h2>
    <ul>
      <li>1 fatia de pão integral com 1 fatia de queijo ou 1 colher de chá de pasta de amendoim.</li>
      <li>1 fruta.</li>
    </ul>
    
    <h2>
      <ion-text color="secondary">
        <ion-icon color="secondary" name="restaurant-outline"></ion-icon> Jantar:
      </ion-text>
    </h2>
    <ul>
      <li>1 porção de proteína (diferente da escolhida no almoço).</li>
      <li>1 porção de leguminosas (feijão, lentilha, grão-de-bico).</li>
      <li>Legumes à vontade, cozidos no vapor ou refogados.</li>
      <li>Salada verde à vontade com 1 colher de sopa de azeite de oliva.</li>
    </ul>
    
    <h2>
      <ion-text color="secondary">
        <ion-icon color="secondary" name="bed-outline"></ion-icon> Ceia (se sentir fome):
      </ion-text>
    </h2>
    <ul>
      <li>1 iogurte natural sem açúcar ou 1 copo de leite desnatado.</li>
    </ul>
    
    <div class="dicas">
      <h2>
        <ion-text color="secondary">
          <ion-icon color="secondary" name="bulb-outline"></ion-icon> Dicas:
        </ion-text>
      </h2>
      <ul>
        <li>Evite frituras, alimentos processados, açúcares refinados e bebidas alcoólicas.</li>
        <li>Beba, pelo menos, 2 litros de água por dia.</li>
        <li>Associe esse plano alimentar com uma rotina de exercícios físicos regulares.</li>
        <li>Descanse bem, dormindo de 7 a 8 horas por noite.</li>
        <li>Monitore seu progresso e faça ajustes conforme necessário.</li>
      </ul>
    </div>
  </div>
</ion-content>
