<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="autenticar" href="/tabs/autenticar">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Primeiros Passos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil-usuario" href="/tabs/perfil-usuario">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Seu Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="visualizar-resultado" href="/tabs/visualizar-resultado">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Seu Plano</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
