<ion-tabs>

  <ion-tab-bar slot="bottom" *ngIf="(user$ | async)?.accessToken">
    <ion-tab-button tab="perfil-usuario" href="/tabs/perfil-usuario">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Seu Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="visualizar-resultado" href="/tabs/visualizar-resultado">
      <ion-icon aria-hidden="true" name="restaurant-outline"></ion-icon>
      <ion-label>Seu Plano</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
